@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900 text-gray-100;
    -webkit-font-smoothing: antialiased;
}

.nav-list {
    list-style: none;
    display: block;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}


@media (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        padding: 1.5rem;
        z-index: 2;
        position: absolute;
        top: 12vh;
        right: 0;
        height: 92vh;
        background: #121214;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .mobile-menu {
        display: block;
    }

    .hamburguer {
        display: block;
    }

    .sidebar {
        display: none;
    }
}

@media (min-width: 1198px) {
    .menuOpen {
        display: none;
    }

}

@media (max-width: 768px) {
    .description {
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        flex-wrap: nowrap;
        align-items: stretch;
        flex-direction: column;
    }

    .cards {
        gap: 2rem;
        margin-top: 5rem;
        display: grid;
        grid-template-columns: auto
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        line-height: 1.25;
        text-align: center;
        font-size: 2rem;
    }

    .subtitle {
        text-align: center;
        padding: 2rem;
    }

    .form {
        margin-top: 30px;
        max-width: 414px
    }
}

@media (max-width: 590px) {
    .home {
        flex-direction: column;
        align-items: stretch;
    }
}



@media (min-width: 1201px) {
    .nav-list {
        display: none;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}