@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900 text-gray-100;
    -webkit-font-smoothing: antialiased;
}

.icon {
    justify-content: space-around;
    align-items: center;
    background: #23232e;
    display: inline;
    position: absolute;
    z-index: 4;
    left: 90%;
    width: max-content;
    height: 44px;
    cursor: pointer;
}

.hamburguer {
    display: none;
    top: 50%;
    left: 10%;
    width: 30px;
    height: 6px;
    background-color: black;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.hamburguer::before {
    top: -12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.hamburguer::after {
    top: 12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.list {
    display: flex;
    flex-direction: column;
    left: 1%;
    padding: 45px 0 0;
    flex-wrap: nowrap;
    color: wheat;
    font-size: 1.2rem;
    font-weight: 600;
}

.list .listItems {
    padding: 0;
    list-style: none;
}

.list .listItems li {
    margin: 2px 0;
    cursor: pointer;
}

.list .listItems li:hover {
    font-weight: 800;
}

.icon.iconActive .hamburguer {
    background: transparent;
    box-shadow: 0 2px 5px transparent;
}

.icon.iconActive .hamburguer::after {
    top: 0;
    background: #fff;
    transform: rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.icon.iconActive .hamburguer::before {
    top: 0;
    background: #fff;
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.menu.menu {
    position: absolute;
    right: 0;
    width: 400px;
    height: 100vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 10px 0 69ox 0px rgba(0, 0, 0, 0.59);
}

.menu.menuClose {
    display: none;
    width: 0px;
}

@media (max-width: 1200px) {
    .hamburguer {
        display: block;
    }

    .sidebar {
        display: none;
    }
}

@media (min-width: 1198px) {
    .menuOpen {
        display: none;
    }

}

@media (max-width: 768px) {
    .description {
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        flex-wrap: nowrap;
        align-items: stretch;
        flex-direction: column;
    }

    .cards {
        gap: 2rem;
        margin-top: 5rem;
        display: grid;
        grid-template-columns: auto
    }
    .flex {
        display: flex;
        flex-direction: column;
        align-content: stretch;
        justify-content: space-around;
        align-items: stretch;
    }
    .leading-tight {
        line-height: 1.25;
        text-align: center;
    }
    .text-\[2\.5rem\] {
        font-size: 2rem;
    }
    .mt-4 {
        text-align: center;
        padding-bottom: 1rem;
    }
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .leading-relaxed {
        padding: 2rem;
    }

}